<header>
  <nav class = "navbar navbar-expand-md navbar-dark bg-dark" >
    <div><a href = "localhost:4200" class = "navbar-brand space">HCIPozoristance</a></div>

    <ul class = "navbar-nav">

        <li routerLinkActive="active"><a routerLink = "/home" class = "nav-link">Home</a></li>

    </ul>

    <ul class = "navbar-nav navbar-collapse justify-content-end">
        <li><a routerLink = "/profile" class = "nav-link">My Profile</a></li>
        <li><a routerLink = "/login" class = "nav-link">Login</a></li>
        <li><a (click) = "onLogout()" routerLink = "/logout" class = "nav-link" >Logout</a></li>

    </ul>
  </nav>
</header>
<br><br>
