<div class="datatable mt-4">
<table class="table table-striped table-bordered table-sm" >
  <thead class="datatable-header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Picture
      </th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let predstava of predstave; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img
          [src]="predstava.slika"
          class="me-2"
          style="width: 100px"
        />
        {{ predstava.naziv }}
      </td>
<!--      <td>{{predstava.naziv}}</td>-->
      <td>{{predstava.opis}}</td>
      <td>
        <button class = "btn btn-sm btn-oval btn-info custom-color" (click)="onClick($event)">Show details {{i + 1}}</button>
      </td>
      <td>
        <button *ngIf="isButtonVisible" class = "btn btn-sm btn-oval btn-danger custom-color" (click)="onClickDelete(i+1)">X</button>
      </td>
    </tr>
  </tbody>
</table>
  <div>
    <button *ngIf="isButtonVisible" class = "btn btn-oval btn-info custom-color" type="submit" (click)="onAddNewShow($event)" >Add new</button>
    <button class = "btn btn-oval btn-info custom-color custom-position space" (click)="sortByNameAsc()">Sort(A-Z)</button>
    <button class = "btn btn-oval btn-info custom-color custom-position" (click)="sortByNameDesc()">Sort(Z-A)</button>
  </div>
</div>
<br><br>
