<h2 mat-dialog-title>Detalji predstave: {{predstava.naziv}}</h2>
<mat-dialog-content class="mat-typography">
  <p>
    {{predstava.naziv}} -> Name of the show
  </p>
  <p>
    {{predstava.opis}} -> Description
  </p>
  <p>
    {{predstava.brojPreostalihMesta}} -> number of remaining seats
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">

  <button class = "btn btn-oval btn-info custom-color" (click)="onClick(predstava)" [disabled]="predstava.brojPreostalihMesta === 0">Reserve ticket</button>
  <button class = "btn btn-oval btn-info custom-color space" mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>


<!-- Copyright 2023 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
